.font-sm {
  font-size: 16px!important;
}
.font-md {
  font-size: 19px!important;
}
.font-lr {
  font-size: 23px!important;
}
.font-lg {
  font-size: 36px!important;
}
.mb-10 {
  margin-bottom: 10vw !important;
}
.mb-md {
  margin-bottom: 50px!important;
}
.mb-lg {
  padding-bottom: 150px!important;
}

.content-width {
  width: 80%;
  margin: 0 auto;
  max-width: $contentMaxWidth;
}


picture {
  display: none;
}


#Content {
  padding-top: $hdr_pc_height;
}

.header {
  height: $hdr_pc_height;
}

.image {
  &__bgi {
    position: absolute;
    display: block;
  //   background-image: url(../../../assets/images/home-service__btn01_1x.jpg);
  //   background-position: center;
  //   background-size: cover;
  //   background-repeat: no-repeat;
  //   width: 100%;
  //   &::before {
  //     display: block;
  //     content: "";
  //     padding-top: 50%;
  //   }
  }
  &__item {
    display: block;
    height: calc(100vw*0.21429);
    border: 1px solid #fff;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -100%;
      width: 100%;
      height: 100%;
      background-color: $c_lblue;
      transition: all 0.5s ease-out;
      opacity: 0;
    }
    &:hover::before {
      left: 0;
      opacity: 0.6;
    }
  }
}

.logo {
  width: 150px;
}

.main__ttl {
font-size: 40px!important;
  letter-spacing: .1em;
} 

.mbl {
  &__image {
  display: none;
  }
  &__nav {
    display: none;
  }
}

.parts {

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #0078ff;
    color: $c_lblue;
    & a {
      display: block;
      width: 100%;
    }
  }
}

.pc {
  &__image {
    display: block;
  }
  &__nav {
    display: block;
  }
}

.services {
  &__inner {
  width: 90%;
  margin: auto!important;
  }
    &__container {
      display: flex;
      justify-content: center;
    }
  }

.strong {
  &__inner {
    margin-bottom: 200px !important;
  }
  &__item {
    max-width: 1080px;
    margin: 0 0 0 auto;
  }
}

.sub__ttl {
  font-size: 52px !important;
  letter-spacing: .15em;
}

.swiper- {

  &pagination {
    bottom: 5vw !important;
  }
}

.text{
  &__article {
    line-height: 1.8em;
  }

  &__bk::before {
    width: 90%;
    height: 140%;
    top: -100px;
  }
  &__item {
    position: absolute;
    width: 55%;
    top: 80px;
    left: 45vw;
  
  }
}

.btn {
  text-align: center;
  font-size: 18px;
}
.white__btn {
  text-align: right;
} 
// .cth__copy {
//     &__container {
//       margin-bottom: 50px;
//     }
//     &__slide {
//       width: 73vw;
//     }
//   }
// .contactus {
//   &__link {
//     padding: 70px 80px;
//     & span {
//       font-size: 38px;
//     }
//     & i {
//       font-size: 38px;
//     }
//     & P {
//       font-size: 20px;
//     }
//   }
//   &__mail .contactus__link {
//     border-left: none;
//     border-top: 2px solid #69ddff;
//   }
// }
// .cth__copy {
//   & img {
//     padding: 100px 0; 
//     max-width: 100%;
//   }
//   &__bk {
//     top: 0;
//     &_area {
//       position: relative;
//     }
//   }
//   &__text {
//     width: 100%;
//     font-size: 15px;
//     letter-spacing: .5rem;
//     line-height: 1.5;
//     margin-bottom: 3rem;
//   }
//   &__ttl {

//     font-size: 34px;
//     margin-bottom: 17px;
//     margin-right: 50px;
//     letter-spacing: .2rem;
//     &_s {
//       font-size: 15px;
//       margin-right: 50px;
//       margin-bottom: 3rem;
//     }
//     &__sub {
//       font-size: 50px;
//       letter-spacing: .6rem;
//       margin-bottom: 3rem;
//     }
//   }
//   &__wrapper {
//     position: absolute;
//     top: 200px;
//     right: 5vw;
//     width: 60%;
//     margin: 0 auto;
//   }
// }
// .fa-envelope {
//   padding-bottom: 0;
//   display: block;
//   color: #fff;
// }
// .contactus__mail .fa-envelope {
//   display: inline;
//   color: #0078ff; 
// }
// .slide_in.sr.active {
//   transform: translateX(20vw);  
// }
// .text__area {
//   margin-top: 9vw;
//   &__midasi {
//     padding-right: 50px;
//   }
//   &__comment {
//     font-size: 15px;
//     margin: 0 50px 0 30px;
//   }
//   &__ttl  {
//     font-size: 38px;
//     margin-bottom: 15px;
//     text-align: right;
//     &__sub {
//       font-size: 18px;
//       text-align: right;
//       padding-right: 120px;
//     }
//   }
// }
// .mbl__hdr {
//   display: none;
// }
// .mbl__sldr1 {
//   margin-bottom: 0;
// }
// .mbl__pict {
//   display: none;
// }
// .white_btn {
//     text-align: right;
//   & a {
//     font-size: 14px;
//   }
// }
// .pc__picture {
//   &__text {
//     border: none !important;
//   }
// }
// .panel__picture img {
//   height: 33vw;
// }
// .picture {
//   position: relative;
//   color: #fff;
//   text-align: center;
//   &__text__main {
//     font-size: 24px;
//     margin-bottom: 10px;
//   }
//   &__text__sub {
//     font-size: 20px;
//   }
// }
// .pict {
//   &__parent {
//     position: relative;
//   }
//   &__chi {
//     border: none!important;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50% ,-50%);
//     width: 100%;
//   }
// }
// .pictures {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   & div {
//     border: 1px solid #fff;
//   }
// } 

// .pc__hdr {
//   &__mail {
//     background-color: #0078ff;
//     & i {
//       font-size: 50px;
//       padding: 20px;
//       margin: 0;
//     }
//   }
//   &__logo {
//     & img {
//       margin-left: 30px;
//       width: 150px!important;
//     }
//   }
// }
// .recruit__slider{
//   &__div {
//     width: auto !important;
//   }
//   &__link {
//     display: inline-block;
//     padding: 0;
//     width: 44vw;
//     & img {
//       padding: 0 20px;
//     }
//   }
// }
